body {
  /* background: url(""); */
  background-color: #848C7B;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: left; */
  min-width: 500px;
  min-height: 100vh;
  /* align-items: left; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: rgba(255, 255, 255, 0.248);
  border: none;
  color: black;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 80px;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



/* .exercise_catalogue_button {
  position: absolute;
  bottom: 18vmin;
}

.exercise_catalogue_button {
  width: 30vmin;
  height: 8vmin;
  background: rgb(0, 0, 0);
  border: none;
  border-radius: 5vmin;
  outline: transparent;
  cursor: pointer;
}

.exercise_catalogue_button:hover {
  background: rgb(126, 126, 126);
  box-shadow: 0 0 .5vmin #fff;
} */






.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* align-items: left; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #000000;
  }
}
